*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */

[class*="section"] {
  background-color: coral;
  border: 1px solid black;
}

/* REGOLE TEXT */

.text-big {
font-size: 1em;
}

.text-little {

}

.text-up {
  text-transform: uppercase;
}

.text-str {
  font-weight: bold;
}

.text-dark {

}

.text-light {

}

/* REGOLE TXT */

/* page sections */

.section-aside{
  width: 200px;
  height: 100%;

}

.section-center{
  width: calc(100% - 200px);
  height: 100%;

}

.section-main{
  height: calc(100vh - 100px);
  display: flex;

}
.section-footer{
  height: 100px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

/* page sections */

/* HEADER */

.header-center .text-big {
  float: right;
}

.header-center a {
  padding: 10px 50px;
  margin: 10px 5px;
  border: 2px white solid;
  border-radius: 25px;
}

/* MENU */

.menu {
  display: flex;
  max-height: 20px;
justify-content: center;
  }

.menu-txt{
  /* position: relative; */
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.menu-txt p {
  height: 15px;
}
.menu-txt:after {
  content : "";
  height  : 2px;
  width   : 30px;
  border-bottom:2px solid green;
}
